
<!-- Right panel -->
<div class="col-md-9">

  <div class="article">
    <div class="article-header">
      <h3 class="color-darkblue">Overview of Market Transactions</h3>
      <p class="color-grey">Source: BC Data Catalogue</p>
    </div>

    <div class="article-body">
      <%= render "articles/provincial/overview_market_trans" %>
    </div>
  </div>

  <div class="article">
    <div class="article-header">
      <h3 class="color-darkblue">Overview of Foreign Involvement Transactions</h3>
      <p class="color-grey">Source: BC Data Catalogue</p>
    </div>

    <div class="article-body">
      <%= render "articles/provincial/overview_foreign_involvement_trans" %>
    </div>
  </div>


  <div class="bs-callout bs-callout-warning">
    <h4>Data Dictionary for Provincial</h4>
    <%= render "articles/util/data_dictionary_ptt" %>
  </div>

</div>


<!-- Left panel -->
<div class="col-md-3">
  <%= render "articles/util/right_panel_detail" %>
</div>