<input id="bc_provincial_data" value="<%= @bc_provincial_data %>" type="hidden" />

<div class="row canvases">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4 class="color-grey">Foreign Involvement Transactions</h4>
    <canvas id="no_foreign_canvas"></canvas>

    <h4 class="color-grey">FMV sum of Foreign Involvement Transactions</h4>
    <canvas id="sum_FMV_foreign_canvas"></canvas>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row canvases">
  <h4 class="color-grey">Comparsion of Citizen/PR and Foreign Involvement</h4>
  <div class="col-md-4">
    <canvas id="no_mkt_trans_no_foreign_compare_pie_canvas"></canvas>
  </div>
  <div class="col-md-8">
    <canvas id="no_mkt_trans_no_foreign_compare_stacked_canvas"></canvas>
  </div>
  
</div>

<div class="row canvases">
  <h4 class="color-grey">Overview of Foreign Involvement Transactions</h4>
  <div class="col-md-4">
    <canvas id="no_foreign_compare_pie_canvas"></canvas>
  </div>
  <div class="col-md-8">
    <canvas id="no_foreign_compare_stacked_canvas"></canvas>
  </div>
  
</div>



<script>
$(document).ready(function() {

  var bc_provincial_data = JSON.parse( $("#bc_provincial_data").val() );
  var months = bc_provincial_data['months'];


  // Foreign Involvement Transactions 
  new Chart($("#no_foreign_canvas"), {
    type: "line",
    data: {
      labels: months,
      datasets: [{
        label: bc_provincial_data['no_foreign']['name'],
        data: bc_provincial_data['no_foreign']['monthly'],
        fill: false,
        backgroundColor: colours[0]['rgba']['opacity-0.9'],
        borderColor: colours[0]['rgba']['opacity-1'],
        borderWidth: 5,
        borderJoinStyle: "round",
        lineTension: 0.1
      }]
    },
    options: vertical_option("Transactions (1K=1,000)", 1000, "K")
  });


  // FMV sum of Foreign Involvement Transactions
  new Chart($("#sum_FMV_foreign_canvas"), {
    type: "line",
    data: {
      labels: months,
      datasets: [{
        label: bc_provincial_data['sum_FMV_foreign']['name'],
        data: bc_provincial_data['sum_FMV_foreign']['monthly'],
        fill: false,
        backgroundColor: colours[0]['rgba']['opacity-0.9'],
        borderColor: colours[0]['rgba']['opacity-1'],
        borderWidth: 5,
        borderJoinStyle: "round",
        lineTension: 0.1
      }]
    },
    options: vertical_option("Dollars (1B=1,000,000,000)", 1000000000, "B")
  });



  // Comparsion of Citizen/PR and Foreign Involvement
  var no_mkt_trans_minus_no_foreign_name = "Citizen/PR Transactions";
  var no_mkt_trans_minus_no_foreign = [];
  for (var i = 0; i < bc_provincial_data['no_mkt_trans']['monthly'].length; i++) {
    var value = bc_provincial_data['no_mkt_trans']['monthly'][i] - bc_provincial_data['no_foreign']['monthly'][i];
    no_mkt_trans_minus_no_foreign.push( Math.abs(value) );
  }

  new Chart($("#no_mkt_trans_no_foreign_compare_pie_canvas"), {
    type: "doughnut",
    data: {
      labels: [no_mkt_trans_minus_no_foreign_name, bc_provincial_data['no_foreign']['name']],
      datasets: [{
        data: [
          bc_provincial_data['no_mkt_trans']['total'] - bc_provincial_data['no_foreign']['total'],
          bc_provincial_data['no_foreign']['total']
        ],
        backgroundColor: [ colours[0]['rgba']['opacity-0.9'], colours[1]['rgba']['opacity-0.9'] ]
      }]
    },
    options: pie_option()
  });

  new Chart($("#no_mkt_trans_no_foreign_compare_stacked_canvas"), {
    type: "bar",
    data: {
      labels: months,
      datasets: [
        {
          type: "bar",
          label: no_mkt_trans_minus_no_foreign_name,
          data: no_mkt_trans_minus_no_foreign,
          backgroundColor: colours[0]['rgba']['opacity-0.9']
        },
        {
          type: "bar",
          label: bc_provincial_data['no_foreign']['name'],
          data: bc_provincial_data['no_foreign']['monthly'],
          backgroundColor: colours[1]['rgba']['opacity-0.9']
        },
        {
          type: "line",
          label: bc_provincial_data['no_mkt_trans']['name'],
          data: bc_provincial_data['no_mkt_trans']['monthly'],
          fill: false,
          backgroundColor: colours[colours.length-1]['rgba']['opacity-0.9'],
          borderColor: colours[colours.length-1]['rgba']['opacity-1'],
          borderWidth: 3,
          borderJoinStyle: 'round',
          lineTension: 0.1,
          autoSkip: true
        }
      ]
    },
    options: vertical_stacked_bar_option("Transactions (1K=1,000)", 1000, "K", 2)
  });


  // Comparsion of Foreign Involvement Transactions
  new Chart($("#no_foreign_compare_pie_canvas"), {
    type: "doughnut",
    data: {
      labels: [
        bc_provincial_data['no_lt1M_foreign']['name'],
        bc_provincial_data['no_gt1M_foreign']['name'],
        bc_provincial_data['no_gt3M_foreign']['name']
      ],
      datasets: [{
        data: [
          bc_provincial_data['no_lt1M_foreign']['total'],
          bc_provincial_data['no_gt1M_foreign']['total'],
          bc_provincial_data['no_gt3M_foreign']['total']
        ],
        backgroundColor: [
          colours[0]['rgba']['opacity-0.9'],
          colours[1]['rgba']['opacity-0.9'],
          colours[2]['rgba']['opacity-0.9']
        ]
      }]
    },
    options: pie_option()
  });

  new Chart($("#no_foreign_compare_stacked_canvas"), {
    type: "bar",
    data: {
      labels: months,
      datasets: [
        {
          type: "bar",
          label: bc_provincial_data['no_lt1M_foreign']['name'],
          data: bc_provincial_data['no_lt1M_foreign']['monthly'],
          backgroundColor: colours[0]['rgba']['opacity-0.9']
        },
        {
          type: "bar",
          label: bc_provincial_data['no_gt1M_foreign']['name'],
          data: bc_provincial_data['no_gt1M_foreign']['monthly'],
          backgroundColor: colours[1]['rgba']['opacity-0.9']
        },
        {
          type: "bar",
          label: bc_provincial_data['no_gt3M_foreign']['name'],
          data: bc_provincial_data['no_gt3M_foreign']['monthly'],
          backgroundColor: colours[2]['rgba']['opacity-0.9']
        },
        {
          type: "line",
          label: bc_provincial_data['no_foreign']['name'],
          data: bc_provincial_data['no_foreign']['monthly'],
          fill: false,
          backgroundColor: colours[colours.length-1]['rgba']['opacity-0.9'],
          borderColor: colours[colours.length-1]['rgba']['opacity-1'],
          borderWidth: 3,
          borderJoinStyle: 'round',
          lineTension: 0.1,
          autoSkip: true
        }
      ]
    },
    options: vertical_stacked_bar_option("Transactions (1K=1,000)", 1000, "K", 3)
  });


});
</script>