<div>Total Market Transactions Monthly</div>
<canvas id="mkt_trans_monthly_canvas"></canvas>


<script>
$(document).ready(function() {


  // data

  var months = ["June 01", "July 01", "Aug 01", "Sep 01", "Oct 01", "Nov 01", "Dec 01"];
  var abbotsford = [643,552,509,401,354,354,286];
  var chilliwack = [496,490,505,430,366,325,231];
  var burnaby = [606,716,504,421,322,404,351];
  var richmond = [741,802,565,538,818,772,399];
  var surrey = [1973,1936,1594,1291,972,1001,1323];
  var vancouver = [2190,2089,1516,1241,966,1130,850];
  var whistler = [147,119,100,141,128,141,106];
  var kelowna = [780,694,775,661,519,506,411];
  var nanaimo = [571,380,524,440,387,327,215];

  var municipal_monthly_data = {
    labels: months,
    datasets: [{
      label: 'Abbotsford',
      data: abbotsford,
      backgroundColor: 'rgba(255, 99, 132, 0.7)',
      borderColor: 'rgba(255, 99, 132, 1)',
      borderWidth: 1
    }, {
      label: 'Chilliwack',
      data: chilliwack,
      backgroundColor: 'rgba(54, 162, 235, 0.7)',
      borderColor: 'rgba(54, 162, 235, 1)',
      borderWidth: 1
    }, {
      label: 'Burnaby',
      data: burnaby,
      backgroundColor: 'rgba(66,244,206, 0.7)',
      borderColor: 'rgba(66, 244, 206, 1)',
      borderWidth: 1
    }, {
      label: 'Richmond',
      data: richmond,
      backgroundColor: 'rgba(153,102,255, 0.7)',
      borderColor: 'rgba(153, 102, 255, 1)',
      borderWidth: 1
    }, {
      label: 'Surrey',
      data: surrey,
      backgroundColor: 'rgba(244,232,66, 0.7)',
      borderColor: 'rgba(244, 232, 66, 1)',
      borderWidth: 1
    }, {
      label: 'Vancouver',
      data: vancouver,
      backgroundColor: 'rgba(255,159,64, 0.7)',
      borderColor: 'rgba(255, 159, 64, 1)',
      borderWidth: 1
    }, {
      label: 'Whistler',
      data: whistler,
      backgroundColor: 'rgba(191,66,244, 0.7)',
      borderColor: 'rgba(191, 66, 244, 1)',
      borderWidth: 1
    }, {
      label: 'Kelowna',
      data: kelowna,
      backgroundColor: 'rgba(104, 102, 105, 0.7)',
      borderColor: 'rgba(104, 102, 105, 1)',
      borderWidth: 1
    }, {
      label: 'Nanaimo',
      data: nanaimo,
      backgroundColor: 'rgba(80,244,66, 0.7)',
      borderColor: 'rgba(80, 244, 66, 1)',
      borderWidth: 1
    }]
  };
  

  // canvas display

  var mkt_trans_monthly_canvas = new Chart($("#mkt_trans_monthly_canvas"), {
    type: "bar",
    data: municipal_monthly_data
  });


});
</script>