<div class="row canvases">
  <div class="col-md-2 col-xs-5"></div>
  <div class="col-md-8 col-xs-8">
    <h4 class="color-grey">Foreign Involvement Transactions in Metro Vancouver</h4>
    <canvas id="no_foreign_canvas"></canvas>

    <h4 class="color-grey">FMV sum of Foreign Involvement Transactions in Metro Vancouver</h4>
    <canvas id="sum_FMV_foreign_canvas"></canvas>
  </div>
  <div class="col-md-2 col-xs-5"></div>
</div>


<script>
$(document).ready(function() {

  var municipal_transaction_data = JSON.parse( $("#municipal_transaction_data").val() );
  var months = municipal_transaction_data['months'];
  var regional_district = municipal_transaction_data['regional_district'];

  var no_foreign_name = [];
  var no_foreign_data = [];
  var no_foreign_bg = [];
  var sum_FMV_foreign_data = [];
  for (var i = 0; i < regional_district.length; i++) {
    var municipality = regional_district[i]['municipality'];

    for (var j = 0; j < municipality.length; j++) {
      var foreign = municipality[j]['foreign involvement'];
      if (foreign) {
        no_foreign_name.push(municipality[j]['name']);
        no_foreign_data.push(foreign['no_foreign']);
        no_foreign_bg.push(colours[0]['rgba']['opacity-0.9']);
        sum_FMV_foreign_data.push(foreign['sum_FMV_foreign']['total']);
      }

    }
  }


  // Foreign Involvement Transactions in Metro Vancouver
  new Chart($("#no_foreign_canvas"), {
    type: "bar",
    data: {
      labels: no_foreign_name,
      datasets: [{
        label: "Foreign Involvement Transactions",
        data: no_foreign_data,
        backgroundColor: no_foreign_bg
      }]
    },
    options: vertical_option("Transactions (1K=1,000)", 1000, "K", true)
  });


  new Chart($("#sum_FMV_foreign_canvas"), {
    type: "bar",
    data: {
      labels: no_foreign_name,
      datasets: [{
        label: "FMV sum of Foreign Involvement Transactions",
        data: sum_FMV_foreign_data,
        backgroundColor: no_foreign_bg
      }]
    },
    options: vertical_option("Dollars (1B=1,000,000,000)", 1000000000, "B", true)
  });


});
</script>