<input id="colours_json" value="<%= @colours_json.to_json %>" type="hidden" />
<input id="municipal_transaction_data" value="<%= @municipal_transaction_data %>" type="hidden" />
<input id="municipal_population" value="<%= @municipal_population %>" type="hidden" />


<div class="row canvases">
  <h4 class="color-grey">Total Market Transactions Monthly</h4>
  <canvas id="no_mkt_trans_canvas"></canvas>

  <div class="col-md-6">
    <h4 class="color-grey">Comparison of Housing Types between Vancouver and Chilliwack</h4>
    <canvas id="compare_van_chilliwack_canvas"></canvas>    
  </div>
  <div class="col-md-6">
    <h4 class="color-grey">Comparison of Housing Types between Vancouver and Surrey</h4>
    <canvas id="compare_van_surrey_canvas"></canvas>
  </div>
</div>

<div class="canvases">

  <h4 class="color-grey">Sum of Fair Market Value (FMV) in major citie</h4>
  <canvas id="sum_fmv_canvas"></canvas>

  <h4 class="color-grey">Total amount of Property Transfer Tax (PTT) paid in major cities</h4>
  <canvas id="sum_ptt_paid_canvas"></canvas>

  <h4 class="color-grey">Sum FMV VS. Population with PTT in major cities</h4>
  <canvas id="fmv_population_ptt_canvas"></canvas>
  <p class="color-grey">Note: Diameter = Sum of Property Transfer Tax (PTT) paid / 10,000,000</p>
</div>


<script>
$(document).ready(function() {

  // colours
  var colours_json = JSON.parse( $("#colours_json").val() );
  var colours = colours_json['colours'];


  // options
  var options_vertical_comma_dollar = {
    responsive: true,
    scales: {
      yAxes: [{
        ticks: {
          callback: function(label, index, labels) {
            return label/1000000000+'B';
          }
        },
        scaleLabel: {
          display: true,
          labelString: 'Dollars (1B=1,000,000,000)'
        }
      }]
    },
    tooltips: {
      callbacks: {
        label: function(tooltipItem, data) {
          var dataset = data.datasets[tooltipItem.datasetIndex];
          return dataset.data[tooltipItem.index].toFixed(0).replace(/./g, function(c, i, a) {
            return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
          });
        }
      }
    }
  };

  var options_radar = {
    scale: {
      reverse: true,
      ticks: {
        beginAtZero: true
      }
    }
  };
  

  var municipal_transaction_data = JSON.parse( $("#municipal_transaction_data").val() );
  var months = municipal_transaction_data['months'];
  var regional_district = municipal_transaction_data['regional_district'];

  var municipal_population = JSON.parse( $("#municipal_population").val() );

  var municipal_monthly_data = {};
  municipal_monthly_data['labels'] = months;
  var municipal_dataset = [];


  var sum_fmv_monthly_name = [];
  var sum_fmv_monthly_data = [];
  var sum_fmv_monthly_bg = [];

  var housing_type_labels = ["Residential", "Commercial", "Recreational", "Farm", "Other/Unknown"];
  var van_housing_total = [];
  var chilliwack_housing_total = [];
  var surrey_housing_total = [];

  var sum_PTT_paid_name = [];
  var sum_PTT_paid_data = [];
  var sum_PTT_paid_bg = [];


  var fmv_population_ptt_data = {};
  var fmv_population_ptt_dataset = [];


  var c = 0;
  var d = 0;
  var dividend = 10000000;
  for (var i = 0; i < regional_district.length; i++) {
    var municipality = regional_district[i]['municipality'];

    for (var j = 0; j < municipality.length; j++) {
      var name = municipality[j]['name'];

      if ( !name.includes("Rest") ) {
        municipal_dataset.push({
          "label": name,
          "data": municipality[j]['transaction_type']['monthly'],
          "backgroundColor": colours[c]['rgba']['opacity-0.9']
        });
      
        sum_fmv_monthly_name.push(municipality[j]['name']);
        sum_fmv_monthly_data.push(municipality[j]['fair market value']['sum_FMV']);
        sum_fmv_monthly_bg.push(colours[0]['rgba']['opacity-0.9']);
      

        if (!name.includes("Peninsula & Westshore") && !name.includes("Victoria, Esquimalt, Oak Bay, Saanich & View Royal")) {
          var fmv = municipality[j]['fair market value']['sum_FMV'];
          var ptt = municipality[j]['property transfer tax']['sum_PTT_paid'];
          var population = municipal_population['population'][d]['total'];

          fmv_population_ptt_dataset.push({
            label: name,
            data: [{x: population, y: fmv, r: ptt/dividend}],
            backgroundColor: colours[d]['rgba']['opacity-0.9'],
            hoverBackgroundColor: colours[d]['rgba']['opacity-1'],
          });
          d += 1;
        }

        c += 1; 
      }

      if (municipality[j]['name'] == "Vancouver") {
        var housing_type = municipality[j]['transaction_type']['housing_type'];
        for (var x = 0; x < housing_type.length; x++) {
          van_housing_total.push(housing_type[x]['total']);
        }
      }
      if (municipality[j]['name'] == "Chilliwack") {
        var housing_type = municipality[j]['transaction_type']['housing_type'];
        for (var x = 0; x < housing_type.length; x++) {
          chilliwack_housing_total.push(housing_type[x]['total']);
        }
      }
      if (municipality[j]['name'] == "Surrey") {
        var housing_type = municipality[j]['transaction_type']['housing_type'];
        for (var x = 0; x < housing_type.length; x++) {
          surrey_housing_total.push(housing_type[x]['total']);
        }
      }


      var ptt = municipality[j]['property transfer tax'];
      if (ptt) {
        sum_PTT_paid_name.push(municipality[j]['name']);
        sum_PTT_paid_data.push(ptt['sum_PTT_paid']);
        sum_PTT_paid_bg.push(colours[0]['rgba']['opacity-0.9']);;
      }


    }
  }

  // Total Market Transactions Monthly
  municipal_monthly_data['datasets'] = municipal_dataset;
  new Chart($("#no_mkt_trans_canvas"), {
    type: "bar",
    data: municipal_monthly_data
  });



  // Comparison of Housing Type between Vancouver and Chilliwack
  new Chart($("#compare_van_chilliwack_canvas"), {
    type: "radar",
    data: {
      labels: housing_type_labels,
      datasets: [
        {
          label: "Vancouver",
          data: van_housing_total,
          backgroundColor: colours[0]['rgba']['opacity-0.2'],
          borderColor: colours[0]['rgba']['opacity-1'],
          pointBackgroundColor: "rgba(179,181,198,1)",
          pointBorderColor: "#fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgba(179,181,198,1)"
        },
        {
          label: "Chilliwack",
          data: chilliwack_housing_total,
          backgroundColor: colours[1]['rgba']['opacity-0.2'],
          borderColor: colours[1]['rgba']['opacity-1'],
          pointBackgroundColor: "rgba(255,99,132,1)",
          pointBorderColor: "#fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgba(255,99,132,1)",
        }
      ]
    },
    options: options_radar
  });


  // Comparison of Housing Type between Vancouver and Surrey
  new Chart($("#compare_van_surrey_canvas"), {
    type: "radar",
    data: {
      labels: housing_type_labels,
      datasets: [
        {
          label: "Vancouver",
          data: van_housing_total,
          backgroundColor: colours[0]['rgba']['opacity-0.2'],
          borderColor: colours[0]['rgba']['opacity-1'],
          pointBackgroundColor: "rgba(179,181,198,1)",
          pointBorderColor: "#fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgba(179,181,198,1)"
        },
        {
          label: "Surrey",
          data: surrey_housing_total,
          backgroundColor: colours[1]['rgba']['opacity-0.2'],
          borderColor: colours[1]['rgba']['opacity-1'],
          pointBackgroundColor: "rgba(255,99,132,1)",
          pointBorderColor: "#fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgba(255,99,132,1)",
        }
      ]
    },
    options: options_radar
  });


  // Sum of Fair Market Value (FMV)
  new Chart($("#sum_fmv_canvas"), {
    type: "bar",
    data: {
      labels: sum_fmv_monthly_name,
      datasets: [{
        label: "Sum of FMV",
        data: sum_fmv_monthly_data,
        backgroundColor: sum_fmv_monthly_bg
      }]
    },
    options: options_vertical_comma_dollar
  });


  // Total amount of Property Transfer Tax (PTT) paid in Metro Vancouver
  new Chart($("#sum_ptt_paid_canvas"), {
    type: "bar",
    data: {
      labels: sum_PTT_paid_name,
      datasets: [{
        label: "Sum of FMV",
        data: sum_PTT_paid_data,
        backgroundColor: sum_PTT_paid_bg
      }]
    },
    options: options_vertical_comma_dollar
  });  





  // Sum FMV VS. Population with Sum PTT
  fmv_population_ptt_data['datasets'] = fmv_population_ptt_dataset;
  new Chart($("#fmv_population_ptt_canvas"), {
    type: "bubble",
    data: fmv_population_ptt_data,
    options: {
      elements: {
        points: {
          borderWidth: 1,
          borderColor: 'rgb(0, 0, 0)'
        }
      },
      scales: {
        xAxes: [{
          ticks: {
            callback: function(label, index, labels) {
              return label/1000000+'M';
            }
          },
          scaleLabel: {
            display: true,
            labelString: 'Population (1M=1,000,000)'
          }
        }],
        yAxes: [{
          ticks: {
            callback: function(label, index, labels) {
              return label/1000000000+'B';
            }
          },
          scaleLabel: {
            display: true,
            labelString: 'Sum FMV, Dollars (1B=1,000,000,000)'
          }
        }]
      }
    }
  });




});
</script>