<ul>
  <li><b>Total Market Transactions:</b> The total number of monthly registered transactions at the Land Title Office.</li>
  <li><b>FMV sum:</b> The sum of the purchasers' declared fair market value (FMV).</li>
  <li><b>PTT Paid:</b> The total amount of Property Transfer Tax (PTT) paid for the total number of monthly registered transactions and based on the total monthly declared FMV.</li>
  <li><b>Additional Tax Paid:</b> The Additional Transfer Tax Paid, a 15% additional property transfer tax applies ONLY to residential property transfers to foreign purchasers.</li>
  <li><b>Foreign Involvement Transactions:</b> The total number of monthly registered transactions involving foreign purchaser, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>

  <li><b>FMV sum of Foreign Involvement Transactions:</b> The sum of the purchasers' declared fair market value for registered transactions involving foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
</ul>
