<ul>
  <li><b>Monthly data:</b> The month in which the transaction was registered ending the day prior to the next transaction period</li>
  <li><b>Development Region:</b> An aggregation of all the BC Regional Districts. The 8 Developmental Regions in BC have the same boundaries as the Economic Regions observed by Statistics Canada</li>
  <li><b>Regional Districts:</b> The British Columbia’s regional districts by the Ministry of Community, Sports and Cultural Development under the local governmental legislations and regulations</li>
  <li><b>Total Market Transactions: </b> The total number of monthly registered transactions at the Land Title Office</li>

  <li><b>Residential:</b> The total number of monthly registered transactions involving Class 1-residential properties</li>
  <li><b>Commercial:</b> The total number of monthly registered transactions involving properties classed other than residential, recreational or farm</li>
  <li><b>Recreational:</b> The total number of monthly registered transactions involving Class 8-recreational classed properties with improvements</li>
  <li><b>Farm: </b> The total number of monthly registered transactions involving Class 9-farm properties</li>
  <li><b>Other/Unknown: </b> Properties yet to be classified</li>
  <li><b>Acreage:</b> The total number of monthly registered transactions involving Class 1-residential properties more than 0.5 hectares of land</li>
  <li><b>Commerce:</b> The total number of monthly registered transactions involving properties with split classification. The split classification reflects distinct uses of the property that fall under more than one class. E.g.: Class 1-Residential and other classes referred to on the PTT form as commercial.</li>
  <li><b>Residential Farm:</b> The total number of monthly registered transactions involving properties with split classification. E.g.: Class 1-Residential and Class 9-Farm. The farmer’s residents and/or farm buildings are Class 1.</li>
  <li><b>Multi-Family:</b> The total number of monthly registered transactions involving Class 1-residential properties with multi-family residences.</li>
  <li><b>Single-Family:</b> The total number of monthly registered transactions involving Class 1-residential properties with a single-family improvement.</li>
  <li><b>Strata Residential:</b> The total number of monthly registered transactions involving Class 1- stratified residential properties.</li>
  <li><b>Strata Non-Residential or Rental:</b> The total number of monthly registered transactions involving stratified non- residential properties or used for rental.</li>
  <li><b>Other:</b> The total number of monthly registered transactions involving Class 1-residential properties other than the types mentioned above.</li>
  
  <li><b>FMV sum:</b> The sum of the purchasers' declared fair market value (FMV).</li>
  <li><b>PTT Paid:</b> The total amount of Property Transfer Tax (PTT) paid for the total number of monthly registered transactions and based on the total monthly declared FMV.</li>
 
  <li><b>Foreign Involvement Transactions:</b> The total number of monthly registered transactions involving foreign purchaser, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>Foreign Involvement transactions - Residential:</b> The total number of monthly registered transactions involving Class 1-residential properties purchased by foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>Foreign Involvement transactions - Commercial:</b> The total number of monthly registered transactions involving commercial/other types of properties purchased by foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>Foreign Involvement transactions - Other: </b> The sum of the purchasers' declared fair market value for registered transactions involving foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>FMV sum of Foreign Involvement Transactions:</b> The sum of the purchasers' declared fair market value for registered transactions involving foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>FMV Average of Foreign Involvement Transactions:</b> The average of the purchasers' declared fair market value for registered transactions involving foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>FMV Average of Foreign Involvement Transactions:</b> The median of the purchasers' declared fair market value for registered transactions involving foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>Under $1 million:</b> The total number of monthly registered transactions involving properties under $1 million purchased by foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>$1 million - $3 million:</b> The total number of monthly registered transactions involving properties with values between $1 million - $3million purchased by foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>Over $3 million:</b> The total number of monthly registered transactions involving properties valued above $3million purchased by foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>Additional Tax Paid:</b> The Additional Transfer Tax Paid, a 15% additional property transfer tax applies ONLY to residential property transfers to foreign purchasers.</li>


</ul>
