<ul>
  <li><b>Foreign Involvement Transactions:</b> The total number of monthly registered transactions involving foreign purchaser, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>Foreign Involvement transactions - Residential:</b> The total number of monthly registered transactions involving Class 1-residential properties purchased by foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>Foreign Involvement transactions - Commercial:</b> The total number of monthly registered transactions involving commercial/other types of properties purchased by foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>Foreign Involvement transactions - Other: </b> The sum of the purchasers' declared fair market value for registered transactions involving foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>FMV sum of Foreign Involvement Transactions:</b> The sum of the purchasers' declared fair market value for registered transactions involving foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>FMV Average of Foreign Involvement Transactions:</b> The average of the purchasers' declared fair market value for registered transactions involving foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>FMV Average of Foreign Involvement Transactions:</b> The median of the purchasers' declared fair market value for registered transactions involving foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>Under $1 million:</b> The total number of monthly registered transactions involving properties under $1 million purchased by foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>$1 million - $3 million:</b> The total number of monthly registered transactions involving properties with values between $1 million - $3million purchased by foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>Over $3 million:</b> The total number of monthly registered transactions involving properties valued above $3million purchased by foreign purchasers, i.e., purchasers who are not Canadian citizens or permanent residents of Canada.</li>
  <li><b>Additional Tax Paid:</b> The Additional Transfer Tax Paid, a 15% additional property transfer tax applies ONLY to residential property transfers to foreign purchasers.</li>
</ul>
