<ul>
  <li><b>Monthly data:</b> The month in which the transaction was registered ending the day prior to the next transaction period</li>
  <li><b>Development Region:</b> An aggregation of all the BC Regional Districts. The 8 Developmental Regions in BC have the same boundaries as the Economic Regions observed by Statistics Canada</li>
  <li><b>Regional Districts:</b> The British Columbia’s regional districts by the Ministry of Community, Sports and Cultural Development under the local governmental legislations and regulations</li>
  <li><b>Total Market Transactions: </b> The total number of monthly registered transactions at the Land Title Office</li>
</ul>
