<ul>
  <li><b>Residential:</b> The total number of monthly registered transactions involving Class 1-residential properties</li>
  <li><b>Commercial:</b> The total number of monthly registered transactions involving properties classed other than residential, recreational or farm</li>
  <li><b>Recreational:</b> The total number of monthly registered transactions involving Class 8-recreational classed properties with improvements</li>
  <li><b>Farm: </b> The total number of monthly registered transactions involving Class 9-farm properties</li>
  <li><b>Other/Unknown: </b> Properties yet to be classified</li>
  <li><b>Acreage:</b> The total number of monthly registered transactions involving Class 1-residential properties more than 0.5 hectares of land</li>
  <li><b>Commerce:</b> The total number of monthly registered transactions involving properties with split classification. The split classification reflects distinct uses of the property that fall under more than one class. E.g.: Class 1-Residential and other classes referred to on the PTT form as commercial.</li>
  <li><b>Residential Farm:</b> The total number of monthly registered transactions involving properties with split classification. E.g.: Class 1-Residential and Class 9-Farm. The farmer’s residents and/or farm buildings are Class 1.</li>
  <li><b>Multi-Family:</b> The total number of monthly registered transactions involving Class 1-residential properties with multi-family residences.</li>
  <li><b>Single-Family:</b> The total number of monthly registered transactions involving Class 1-residential properties with a single-family improvement.</li>
  <li><b>Strata Residential:</b> The total number of monthly registered transactions involving Class 1- stratified residential properties.</li>
  <li><b>Strata Non-Residential or Rental:</b> The total number of monthly registered transactions involving stratified non- residential properties or used for rental.</li>
  <li><b>Other:</b> The total number of monthly registered transactions involving Class 1-residential properties other than the types mentioned above.</li>
</ul>
