<div class="col-md-9">
  <div class="bs-callout bs-callout-warning">
    <h4>Data Dictionary for National Household Survey</h4>
    <%= render "articles/util/data_dictionary_national_household_survey" %>
  </div>
</div>

<div class="col-md-3">
	<div class="information">
		<div class="creation">
			<p class="color-darkgrey">Creator: <a href="#">John Doe</a></p>
			<p class="color-darkgrey">Created Date: Feb. 15, 2017</p>
		</div>
	</div>
</div>
