<div id="BurnabyModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details of Burnaby</h4>
      </div>
      <div class="modal-body">
        <%= render "articles/foreign_involvement/cities/burnaby"%>
      </div>
    </div>
  </div>
</div>

<div id="RichmondModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details of Richmond</h4>
      </div>
      <div class="modal-body">
        <%= render "articles/foreign_involvement/cities/richmond"%>
      </div>
    </div>
  </div>
</div>


<div id="SurreyModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details of Surrey</h4>
      </div>
      <div class="modal-body">
        <%= render "articles/foreign_involvement/cities/surrey"%>
      </div>
    </div>
  </div>
</div>

<div id="VancouverModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details of Vancouver</h4>
      </div>
      <div class="modal-body">
        <%= render "articles/foreign_involvement/cities/vancouver"%>
      </div>
    </div>
  </div>
</div>