<input id="bc_population" value="<%= @bc_population %>" type="hidden" />


<div class="row canvases">
  <h4 class="color-grey">Population of Development Region</h4>
  <canvas id="dev_region_population_canvas"></canvas>
  

  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h4 class="color-grey">Comparison of Population in Development Region</h4>
    <canvas id="dev_region_population_pie_canvas"></canvas>
  </div>
  <div class="col-md-3"></div>
</div>


<script>
$(document).ready(function() {

  var options_population_pie = {
    tooltips: {
      callbacks: {
        label: function(tooltipItem, data) {
          var dataset = data.datasets[tooltipItem.datasetIndex];
          var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
            return previousValue + currentValue;
          });
          var currentValue = dataset.data[tooltipItem.index];
          var commaValue = dataset.data[tooltipItem.index].toFixed(0).replace(/./g, function(c, i, a) {
            return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
          });
          var precentage = Math.floor(((currentValue/total) * 100) + 0.5);
          return commaValue + " (" + precentage + "%)";
        }
      }
    }
  };

  // data
  var bc_population = JSON.parse( $("#bc_population").val() );
  var dev_region_population_data = bc_population['population'];

  var regions = [];
  var populations = [];
  var dev_region_population_pie_bg = [];
  for (var i = 0; i < dev_region_population_data.length; i++) {
    regions.push( dev_region_population_data[i]['development region'] );
    populations.push( dev_region_population_data[i]['total'] );
    dev_region_population_pie_bg.push(colours[i]['rgba']['opacity-0.9']);
  }


  // make a bar chart for population
  new Chart($("#dev_region_population_canvas"), {
    type: "horizontalBar",
    data: {
      labels: regions,
      datasets: [{
        label: "Population",
        data: populations,
        backgroundColor: colours[0]['rgba']['opacity-0.9']
      }]
    },
    options: horizontal_bar_option("Population (1M=1,000,000)", 1000000, "M")
  });

  // make a pie chart for population of each development region
  new Chart($("#dev_region_population_pie_canvas"), {
    type: "pie",
    data: {
      labels: regions,
      datasets: [{
        data: populations,
        backgroundColor: dev_region_population_pie_bg
      }]
    },
    options: pie_option()
  });


});
</script>