<div class="canvases">
  <canvas id="fmv_population_canvas"></canvas>
  <p class="color-grey">Note: Diameter = Sum of Property Transfer Tax (PTT) paid / 10,000,000</p>
</div>


<script>
$(document).ready(function() {

  var dev_region_transaction_data = JSON.parse( $("#dev_region_transaction_data").val() );
  var months = dev_region_transaction_data['months'];
  var dev_region = dev_region_transaction_data['development_region'];

  var census_population_data = JSON.parse( $("#census_population_data").val() );

  var fmv_population_dataset = [];

  var dividend = 10000000;
  for (var i = 0; i < dev_region.length; i++) {
    var name = dev_region[i]['name'];
    var fmv = dev_region[i]['fair market value']['sum_FMV'];
    var ptt = dev_region[i]['property transfer tax']['sum_PTT_paid'];
    var population = census_population_data['canada_provinces_territories'][1]['development regions'][i]['Population, 2016'];

    fmv_population_dataset.push({
      label: name,
      data: [{x: population, y: fmv, r: ptt/dividend}],
      backgroundColor: colours[i]['rgba']['opacity-0.9'],
      hoverBackgroundColor: colours[i]['rgba']['opacity-1'],
    });
  }

  new Chart($("#fmv_population_canvas"), {
    type: "bubble",
    data: {
      datasets: fmv_population_dataset
    },
    options: bubble_option("Population (1M=1,000,000)", 1000000, "M", "Sum FMV, Dollars (1B=1,000,000,000)", 1000000000, "B")
  });


});
</script>