<div class="col-md-9">
	<div class="notes">
		<%= fa_icon "info-circle" %> Please editorial notes here
	</div>
</div>

<div class="col-md-3">
	<div class="information">
		<div class="creation">
			<p class="color-darkgrey">Creator: <a href="#">John Doe</a></p>
			<p class="color-darkgrey">Created Date: Jan. 6, 2017</p>
		</div>
	</div>
</div>
