<input id="property_transfer_transaction_van_data" value="<%= @property_transfer_transaction_van_data %>" type="hidden" />

<div class="row">
	<div class="col-md-6">
		<canvas id="property_transfer_transaction_chart_van"></canvas>
		<p class="chart-title">< Number of Property Transfer Transactions in Metro Vancouver ></p>
	</div>
	<div class="col-md-6">
		<canvas id="property_transfer_transaction_chart_van_invest"></canvas>
		<p class="chart-title">< Total investment of all Property Transfers in Metro Vancouver ></p>
	</div>
</div>

<br />

<canvas id="property_transfer_transaction_chart_van_foreign"></canvas>
<p class="chart-title">< Total Number of Foreign Citizenship ></p>
<p class="chart-source">Source: Housing Market Infomation (June 10~29, 2016)</p>

<script>
$(document).ready(function() {

	var raw = $("#property_transfer_transaction_van_data").val();
	var json = JSON.parse(raw);
	var data = json["area"][1];


	// options
	var options_basic = {
		scales: {
			yAxes: [{
				scaleLabel: {
					display: true,
					labelString: 'Transactions'
				}
			}]
		},
		tooltips: {
			callbacks: {
				label: function(tooltipItem, data) {
					//console.log(data);
					var dataset = data.datasets[tooltipItem.datasetIndex];
					var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
						return previousValue + currentValue;
					});

					var currentValue = dataset.data[tooltipItem.index];
					var currentValueDollar = currentValue.toFixed(0).replace(/./g, function(c, i, a) {
						return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
					});
					
					var precentage = Math.floor(((currentValue/total) * 100)+0.5);
					return currentValueDollar + " (" + precentage + "%)";
				}
			}
		}
	};

	var options_pie = {
		responsive: false,
		tooltips: {
			callbacks: {
				label: function(tooltipItem, data) {
					var dataset = data.datasets[tooltipItem.datasetIndex];
					var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
						return previousValue + currentValue;
					});
					var currentValue = dataset.data[tooltipItem.index];
					var precentage = Math.floor(((currentValue/total) * 100)+0.5);
					return currentValue + " (" + precentage + "%)";
				}
			}
		}
	};

	var options_pie_invest = {
		responsive: false,
		tooltips: {
			callbacks: {
				label: function(tooltipItem, data) {
					//console.log(data);
					var dataset = data.datasets[tooltipItem.datasetIndex];
					var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
						return previousValue + currentValue;
					});

					var currentValue = dataset.data[tooltipItem.index];
					var currentValueDollar = currentValue.toFixed(0).replace(/./g, function(c, i, a) {
						return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
					});
					
					var precentage = Math.floor(((currentValue/total) * 100)+0.5);
					return "$" + currentValueDollar + " (" + precentage + "%)";
				}
			}
		}
	};


	// data
	var data_bc = {
	    labels: ["Canadian/PR","Foreign nationals"],
	    datasets: [
	        {
	            data: [
	            	data['property transfer transactions'][0]['transaction']['total'],
	            	data['property transfer transactions'][1]['transaction']['total']
	            ],
	            backgroundColor: ["#36A2EB","#FFCE56"],
	            hoverBackgroundColor: ["#36A2EB","#FFCE56"]
	        }
	    ]
	};

	var data_bc_invest = {
	    labels: ["Canadian/PR","Foreign nationals"],
	    datasets: [
	        {
	            data: [5042992716,350940465],
	            backgroundColor: ["#36A2EB","#FFCE56"],
	            hoverBackgroundColor: ["#36A2EB","#FFCE56"]
	        }
	    ]
	};

	var bc_foreign = data['property transfer transactions'][1]['transaction']['country'];
	var data_bc_foreign = {
	    labels: Object.keys(bc_foreign),
	    datasets: [
	        {
	        	label: "Property Transfer Transactions",
	        	data: Object.values(bc_foreign),
	        	backgroundColor: 'rgba(255, 159, 64, 0.7)',
	        	borderColor: 'rgba(255, 159, 64, 1)',
	        	borderWidth: 1
	        }
	    ]
	};


	var property_transfer_transaction_chart_van = document.getElementById("property_transfer_transaction_chart_van").getContext("2d");
	property_transfer_transaction_chart_van.canvas.width = 300;
	property_transfer_transaction_chart_van.canvas.height = 300;
	var pie_chart_bc = new Chart(property_transfer_transaction_chart_van,{
	    type: 'pie',
	    data: data_bc,
	    options: options_pie
	});


	var property_transfer_transaction_chart_van_invest = document.getElementById("property_transfer_transaction_chart_van_invest").getContext("2d");
	property_transfer_transaction_chart_van_invest.canvas.width = 300;
	property_transfer_transaction_chart_van_invest.canvas.height = 300;
	var pie_chart_bc_invest = new Chart(property_transfer_transaction_chart_van_invest,{
	    type: 'pie',
	    data: data_bc_invest,
	    options: options_pie_invest
	});

	var pie_chart_bc_foreign = new Chart($("#property_transfer_transaction_chart_van_foreign"),{
	    type: 'bar',
	    data: data_bc_foreign,
	    options: options_basic
	});


});
</script>