<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="article">
      <div class="article-header">
        <h3 class="color-darkblue">Trend Line for Total Market Transactions</h3>
      </div>
      <div class="article-body">
        <canvas id="nanaimo_total_canvas"></canvas>
      </div>
    </div>

    <div class="article">
      <div class="article-header">
        <h3 class="color-darkblue">Property Types</h3>
      </div>
      <div class="article-body">
        <canvas id="nanaimo_type_canvas"></canvas>
      </div>
    </div>

  </div>
  <div class="col-md-2"></div>
</div>



<script>
$(document).ready(function() {

  // stacked bar options
  var options_stack = {
    responsive: true,
    scales: {
      xAxes: [{
        stacked: true
      }],
      yAxes: [{
        stacked: true
      }]
    },
    tooltips: {
      callbacks: {
        label: function(tooltipItem, data) {
          var dataset = data.datasets[tooltipItem.datasetIndex];
          var total = data.datasets[5].data[tooltipItem.index];

          var currentValue = dataset.data[tooltipItem.index];         
          var precentage = Math.floor( ((currentValue/total) * 100) + 0.5 );
          return currentValue + " (" + precentage + "%)";
        }
      }
    }
  };


  // data

  var months = ["June 01", "July 01", "Aug 01", "Sep 01", "Oct 01", "Nov 01", "Dec 01"];
  
  var nanaimo_total = [571,380,524,440,387,327,215];
  var nanaimo_resid_trans = [564,374,510,426,378,318,207];
  var nanaimo_comm_tot = [5,4,8,11,7,5,6];
  var nanaimo_recr_tot = [0,2,2,1,2,2,2];
  var nanaimo_farm_tot = [0,0,1,0,0,1,0];
  var nanaimo_unkn_tot = [2,0,3,2,0,1,0];

  var nanaimo_total_data = {
    labels: months,
    datasets: [
      {
        label: "Total Market Transactions",
        data: nanaimo_total,
        fill: false,
        backgroundColor: 'rgba(75,192,192, 0.7)',
        borderColor: 'rgba(75,192,192, 1)',
        borderWidth: 5,
        borderJoinStyle: 'round',
        lineTension: 0.1
      }
    ]
  };


  var nanaimo_type_data = {
    labels: months,
    datasets: [{
      type: 'bar',
      label: 'Residential',
      data: nanaimo_resid_trans,
      backgroundColor: 'rgba(80, 244, 66, 0.7)',
      borderColor: 'rgba(80, 244, 66, 1)',
      
    }, {
      type: 'bar',
      label: 'Commercial',
      data: nanaimo_comm_tot,
      backgroundColor: 'rgba(66, 244, 206, 0.7)',
      borderColor: 'rgba(66, 244, 206, 1)',
      
    }, {
      type: 'bar',
      label: 'Recreational',
      data: nanaimo_recr_tot,
      backgroundColor: 'rgba(153, 102, 255, 0.7)',
      borderColor: 'rgba(153, 102, 255, 1)',
      
    }, {
      type: 'bar',
      label: 'Farm',
      data: nanaimo_farm_tot,
      backgroundColor: 'rgba(244, 232, 66, 0.7)',
      borderColor: 'rgba(244, 232, 66, 1)',
      
    }, {
      type: 'bar',
      label: 'Unknown',
      data: nanaimo_unkn_tot,
      backgroundColor: 'rgba(255, 159, 64, 0.7)',
      borderColor: 'rgba(255, 159, 64, 1)',
      
    }, {
      type: 'line',
      label: "Total Market Transactions",
      data: nanaimo_total,
      fill: false,
      backgroundColor: 'rgba(75,192,192, 0.7)',
      borderColor: 'rgba(75,192,192, 1)',
      borderWidth: 3,
      borderJoinStyle: 'round',
      lineTension: 0.1
    }]
  };



  // canvas display

  var nanaimo_total_canvas = new Chart($("#nanaimo_total_canvas"), {
    type: 'line',
    data: nanaimo_total_data
  });

  //var nanaimo_type_canvas = document.getElementById("nanaimo_type_canvas").getContext("2d");
  //nanaimo_type_canvas.canvas.width = 500;
  //nanaimo_type_canvas.canvas.height = 300;
  var nanaimo_type_chart = new Chart($("#nanaimo_type_canvas"), {
    type: "bar",
    data: nanaimo_type_data,
    options: options_stack
  });


});
</script>