<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="article">
      <div class="article-header">
        <h3 class="color-darkblue">Trend Line for Total Market Transactions</h3>
      </div>
      <div class="article-body">
        <canvas id="surrey_no_foreign_canvas"></canvas>
      </div>
    </div>

    <div class="article">
      <div class="article-header">
        <h3 class="color-darkblue">Property Types</h3>
      </div>
      <div class="article-body">
        <canvas id="surrey_no_foreign_type_canvas"></canvas>
      </div>
    </div>

  </div>
  <div class="col-md-2"></div>
</div>


<script>
$(document).ready(function() {

  // stacked bar options
  var options_stack = {
    responsive: true,
    scales: {
      xAxes: [{
        stacked: true
      }],
      yAxes: [{
        stacked: true
      }]
    },
    tooltips: {
      callbacks: {
        label: function(tooltipItem, data) {
          var dataset = data.datasets[tooltipItem.datasetIndex];
          var total = data.datasets[2].data[tooltipItem.index];

          var currentValue = dataset.data[tooltipItem.index];         
          var precentage = Math.floor( ((currentValue/total) * 100) + 0.5 );
          return currentValue + " (" + precentage + "%)";
        }
      }
    }
  };

  // data

  var months = ["June 01", "July 01", "Aug 01", "Sep 01", "Oct 01", "Nov 01", "Dec 01"];




  var surrey_no_mkt_trans = [1973,1936,1594,1291,972,1001,1323];
  var surrey_no_foreign = [162,177,10,19,9,15,55];
  var surrey_no_citizen = [];

  for (var i = 0; i < surrey_no_mkt_trans.length; i++) {
    surrey_no_citizen.push(surrey_no_mkt_trans[i] - surrey_no_foreign[i]);
  }

  var surrey_no_foreign_data = {
    labels: months,
    datasets: [
      {
        label: "Foreign Involvement Transactions",
        data: surrey_no_foreign,
        fill: false,
        backgroundColor: 'rgba(75,192,192, 0.7)',
        borderColor: 'rgba(75,192,192, 1)',
        borderWidth: 5,
        borderJoinStyle: 'round',
        lineTension: 0.1
      }
    ]
  };

  var surrey_no_foreign_type_data = {
    labels: months,
    datasets: [{
      type: 'bar',
      label: 'Citizens/PR Transactions',
      data: surrey_no_citizen,
      backgroundColor: 'rgba(255, 159, 64, 0.7)',
      borderColor: 'rgba(255, 159, 64, 1)',
    }, {
      type: 'bar',
      label: 'Foreign Involvement Transactions',
      data: surrey_no_foreign,
      backgroundColor: 'rgba(244, 232, 66, 0.7)',
      borderColor: 'rgba(244, 232, 66, 1)',
    }, {
      type: 'line',
      label: "Total Market Transactions",
      data: surrey_no_mkt_trans,
      fill: false,
      backgroundColor: 'rgba(75,192,192, 0.7)',
      borderColor: 'rgba(75,192,192, 1)',
      borderWidth: 3,
      borderJoinStyle: 'round',
      lineTension: 0.1
    }]
  };

  // canvas display

  var surrey_no_foreign_canvas = new Chart($("#surrey_no_foreign_canvas"), {
    type: 'line',
    data: surrey_no_foreign_data
  });

  //var surrey_no_foreign_type_canvas = document.getElementById("surrey_no_foreign_type_canvas").getContext("2d");
  //surrey_no_foreign_type_canvas.canvas.width = 500;
  //surrey_no_foreign_type_canvas.canvas.height = 300;
  var surrey_no_foreign_type_canvas = new Chart($("#surrey_no_foreign_type_canvas"), {
    type: "bar",
    data: surrey_no_foreign_type_data,
    options: options_stack
  });

});
</script>