.header {
  color: $white;
  background: $darkblue;
  padding:10px;

  .title {
    font-weight: bold;
    font-size: 20px;
  }
  .author {
    font-size: 16px;
  }
}

.articles-index {
  caption {
    text-align: center;
  }
}

.articles {
  .navi {
    margin-top: 20px;
    color: $darkgrey;
  }
  .article {
    margin-bottom: 70px;
  }
  .choropleth_map {
    width: auto;
    height: 500px;
  }
  .canvases {
    canvas {
      margin-bottom: 50px;
    }
  }
  .each-modal {
    margin: 0 20px;
  }

}

.make-center {
  text-align: center;
}

.make-bold {
  font-weight: bold;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: 3px;
}

.bs-callout+.bs-callout {
  margin-top: -5px;
}

.bs-callout-default {
  border-left-color: #777;
}

.bs-callout-default h4 {
  color: #777;
}

.bs-callout-primary {
  border-left-color: #428bca;
}

.bs-callout-primary h4 {
  color: #428bca;
}

.bs-callout-success {
  border-left-color: #5cb85c;
}

.bs-callout-success h4 {
  color: #5cb85c;
}

.bs-callout-danger {
  border-left-color: #d9534f;
}

.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout-warning {
  border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}

.bs-callout-info h4 {
  color: #5bc0de;
}


hr {
  max-width: 100px;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.container-title {
  font-size: 25px;
  font-weight: bold;
  font-family: "Calisto MT","Bookman Old Style",Bookman,"Goudy Old Style",Garamond,"Hoefler Text","Bitstream Charter",Georgia,serif;
}

.container-author {
  font-size: 16px;
  color: #777;
}

.tab-list {
  color: #555;
  background: #5cb85c;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #4cae4c;
  border-radius: 4px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;

  a {
    color: white;
  }
  a:hover {
    color: #555;
  }
  > li > a {
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  > li > a:hover {
    background: white;
    border: 1px solid #5cb85c;
  }
}


h2.title {
  color: #555;
  font-weight: bold;
  margin-bottom: 20px;
}

.analysis,
.editorial,
.comments {
  margin-top: 30px;
}

.analysis,
.editorial {
  .information {
    .creation > p {
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.analysis {
  .introduction {
    .project-why {
      height: 230px;
      .title {
        font-size: 17px;
        font-weight: bold;
      }
      .text {
        font-size: 15px;
      }
    }
  }

  .objectives {
    margin-top: 30px;
    font-size: 16px;
    .title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  .information {
    .sns {
      a {
        margin-left: 7px;
      }
      margin-bottom: 15px;
      .facebook {
        color: #3b5998;
      }
      .facebook:hover {
        opacity: 0.9;
      }
      .twitter {
        color: #55acee;
      }
      .twitter:hover {
        opacity: 0.9;
      }
      .google-plus {
        color: #dd4b39;
      }
      .google-plus:hover {
        opacity: 0.9;
      }
      .linkedin {
        color: #0077b5;
      }
      .linkedin:hover {
        opacity: 0.9;
      }
      .tumblr {
        color: #35465c;
      }
      .tumblr:hover {
        opacity: 0.9;
      }
    }
  }
  .stats {
    .title {
      font-weight: bold;
      font-size: 17px;
    }
    .desc {
      margin: 20px 0;
      font-size: 16px;
    }
    .chart {
      .chart-title {
        margin-top: 5px;
        font-weight: bold;
        text-align: center;
      }
      .choropleth_map {
        width: auto;
        height: 400px;
      }
      canvas {
        padding-left: 0;
          padding-right: 0;
          margin-left: auto;
          margin-right: auto;
      }
    }
  }
  .city-info {
    text-align: center;
    padding: 30px 0;
    font-size: 18px;
  }
}

.editorial {
  .notes {
    font-size: 18px;
    padding: 50px 20px;
    border: 1px solid #4cae4c;
    text-align: center;
  }
}

.comments {
  .comment {
    font-size: 18px;
    padding: 50px 20px;
    border: 1px solid #4cae4c;
    text-align: center;
  }
}




.more-articles {
  p {
    font-weight: bold;
    font-size: 16px;
  }
  ul {
    padding-left: 10px;
  }
}





.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}




