$white: #ffffff;
$danger: #d2492a;
$darkblue: #0061aa;
$lightgreen: #12ad2b;
$darkgreen: #006852;
$darkgrey: #333;
$grey: #555;
$lightgrey: #ccc;
$lightergrey: #eee;



.color-white {
  color: $white;
}

.color-danger {
  color: $danger;
}

.color-darkblue {
  color: $darkblue;
}

.color-lightgreen {
  color: $lightgreen;
}

.color-darkgreen {
  color: $darkgreen;
}

.color-darkgrey {
  color: $darkgrey;
}

.color-grey {
  color: $grey;
}