$white: #ffffff;

$darkblue: #0061aa;
$darkgrey: #333;

.color-danger {
  color: #d2492a;
}

.color-darkblue {
  color: #0061aa;
}

.color-lightgreen {
  color: #12ad2b;
}

.color-darkgreen {
  color: #006852;
}

.color-darkgrey {
  color: #333;
}

.color-grey {
  color: #555;
}