<!-- Right panel -->
<div class="col-md-9">

  <div class="article">
    <div class="article-header">
      <h3 class="color-darkblue">Population Change in Regional Districts between 2011 and 2016</h3>
      <p class="color-grey">Source: Statistics Canada</p>
    </div>

    <div class="article-body">
     <%= render "articles/census_bc/regional_districts_map" %>
    </div>
  </div>


  <div class="article">
    <div class="article-header">
      <h3 class="color-darkblue">Overview of Canada and B.C.</h3>
      <p class="color-grey">Source: Statistics Canada</p>
    </div>

    <div class="article-body">
     <%= render "articles/census_bc/overview_canada_bc" %>
    </div>
  </div>


  <div class="article">
    <div class="article-header">
      <h3 class="color-darkblue">Development Regions in 2011 and 2016</h3>
      <p class="color-grey">Source: Statistics Canada</p>
    </div>

    <div class="article-body">
      <%= render "articles/census_bc/dev_region_population" %>
    </div>
  </div>





</div>


<!-- Left panel -->
<div class="col-md-3">
  <%= render "articles/util/right_panel_detail" %>
</div>