<input id="census_bc_data" value="<%= @census_bc_data %>" type="hidden" />

<div class="row canvases">
  <div class="col-md-6">
    <h4 class="color-grey">Canada Population</h4>
    <canvas id="canada_population_canvas"></canvas>
  </div>
  <div class="col-md-6">
    <h4 class="color-grey">B.C. Population</h4>
    <canvas id="bc_population_canvas"></canvas>
  </div>
</div>


<div class="row canvases">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <h4 class="color-grey">Comparison of B.C. and Rest in 2011</h4>
    <canvas id="bc_rest_2011_compare_pie_canvas"></canvas>
  </div>
  <div class="col-md-5">
    <h4 class="color-grey">Comparison of B.C. and Rest in 2016</h4>
    <canvas id="bc_rest_2016_compare_pie_canvas"></canvas>
  </div>
  <div class="col-md-1"></div>
</div>


<div class="row canvases">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4 class="color-grey">Population Growth Rate (2011-2016) in Canada and B.C.</h4>
    <canvas id="canada_bc_population_growth_rate_canvas"></canvas>
  </div>
  <div class="col-md-2"></div>
</div>





<script>
$(document).ready(function() {

  var census_bc_data = JSON.parse( $("#census_bc_data").val() );
  var canada_provinces_territories_data = census_bc_data['canada_provinces_territories'];


  // Canada Population
  new Chart($("#canada_population_canvas"), {
    type: "bar",
    data: {
      labels: canada_provinces_territories_data[0]['data']['year'],
      datasets: [{
        label: "Population",
        data: canada_provinces_territories_data[0]['data']['population'],
        backgroundColor: colours[0]['rgba']['opacity-0.9']
      }]
    },
    options: vertical_option("Population (1M=1,000,000)", 1000000, "M", true)
  });

  // B.C. Population
  new Chart($("#bc_population_canvas"), {
    type: "bar",
    data: {
      labels: canada_provinces_territories_data[1]['data']['year'],
      datasets: [{
        label: "Population",
        data: canada_provinces_territories_data[1]['data']['population'],
        backgroundColor: colours[0]['rgba']['opacity-0.9']
      }]
    },
    options: vertical_option("Population (1M=1,000,000)", 1000000, "M", true)
  });


  // Comparison of B.C. and Rest in 2011
  new Chart($("#bc_rest_2011_compare_pie_canvas"), {
    type: "pie",
    data: {
      labels: ["Rest of B.C.", canada_provinces_territories_data[1]['name']],
      datasets: [{
        data: [
          canada_provinces_territories_data[0]['data']['population'][0] - canada_provinces_territories_data[1]['data']['population'][0],
          canada_provinces_territories_data[1]['data']['population'][0]
        ],
        backgroundColor: [ colours[0]['rgba']['opacity-0.9'], colours[1]['rgba']['opacity-0.9'] ]
      }]
    },
    options: pie_option()
  });

  // Comparison of B.C. and Rest in 2016
  new Chart($("#bc_rest_2016_compare_pie_canvas"), {
    type: "pie",
    data: {
      labels: ["Rest of B.C.", canada_provinces_territories_data[1]['name']],
      datasets: [{
        data: [
          canada_provinces_territories_data[0]['data']['population'][1] - canada_provinces_territories_data[1]['data']['population'][1],
          canada_provinces_territories_data[1]['data']['population'][1]
        ],
        backgroundColor: [ colours[0]['rgba']['opacity-0.9'], colours[1]['rgba']['opacity-0.9'] ]
      }]
    },
    options: pie_option()
  });



  // Population Growth Rate (2011-2016) in Canada and B.C.
  new Chart($("#canada_bc_population_growth_rate_canvas"), {
    type: "bar",
    data: {
      labels: [
        canada_provinces_territories_data[0]['name'],
        canada_provinces_territories_data[1]['name']
      ],
      datasets: [{
        label: "Population Growth Rate (%)",
        data: [
          canada_provinces_territories_data[0]['data']['population_change'],
          canada_provinces_territories_data[1]['data']['population_change']
        ],
        backgroundColor: [
          colours[1]['rgba']['opacity-0.9'],
          colours[1]['rgba']['opacity-0.9']
        ]
      }]
    },
    options: vertical_option_basic(true)
  });



});
</script>