<div class="row canvases">
  <h4 class="color-grey">Population of Development Region</h4>
  <canvas id="dev_region_population_canvas"></canvas>
  
  <div class="col-md-3 col-xs-2"></div>
  <div class="col-md-6 col-xs-8">
    <h4 class="color-grey">Comparison of Population in Development Region</h4>
    <canvas id="dev_region_population_pie_canvas"></canvas>
  </div>
  <div class="col-md-3 col-xs-2"></div>
</div>


<script>
$(document).ready(function() {

  // data
  var census_population_data = JSON.parse( $("#census_population_data").val() );
  var dev_region_population_data = census_population_data['canada_provinces_territories'][1]['development regions'];

  var regions = [];
  var populations = [];
  var dev_region_population_pie_bg = [];
  for (var i = 0; i < dev_region_population_data.length; i++) {
    regions.push( dev_region_population_data[i]['name'] );
    populations.push( dev_region_population_data[i]['Population, 2016'] );
    dev_region_population_pie_bg.push(colours[i]['rgba']['opacity-0.9']);
  }


  // make a bar chart for population
  new Chart($("#dev_region_population_canvas"), {
    type: "horizontalBar",
    data: {
      labels: regions,
      datasets: [{
        label: "Population",
        data: populations,
        backgroundColor: colours[0]['rgba']['opacity-0.9']
      }]
    },
    options: horizontal_bar_option("Population (1M=1,000,000)", 1000000, "M")
  });

  // make a pie chart for population of each development region
  new Chart($("#dev_region_population_pie_canvas"), {
    type: "pie",
    data: {
      labels: regions,
      datasets: [{
        data: populations,
        backgroundColor: dev_region_population_pie_bg
      }]
    },
    options: pie_option()
  });


});
</script>