<!-- Right panel -->
<div class="col-md-9">

  <div class="article">
    <div class="article-header">
      <h3 class="color-darkblue">Housing Tenure</h3>
      <p class="color-grey">Source: Statistics Canada</p>
    </div>

    <div class="article-body">
     <%= render "articles/national_household_survey/housing_tenure" %>
    </div>
  </div>

  <div class="article">
    <div class="article-header">
      <h3 class="color-darkblue">Household Mobility</h3>
      <p class="color-grey">Source: Statistics Canada</p>
    </div>

    <div class="article-body">
     <%= render "articles/national_household_survey/household_mobility" %>
    </div>
  </div>



</div>


<!-- Left panel -->
<div class="col-md-3">
  <%= render "articles/util/right_panel_detail" %>
</div>