<input id="household_mobility_status_data" value="<%= @household_mobility_status_data %>" type="hidden" />


<h4 class="color-grey">Total - Household mobility status 5 years ago</h4>
<canvas id="total_household_mobility_status_canvas"></canvas>


<div class="row canvases">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h4 class="color-grey">Comparison of Non-mover households and Mover households in total</h4>
    <canvas id="non_mover_mover_compare_canvas"></canvas>
  </div>
  <div class="col-md-3"></div>
</div>


<h4 class="color-grey">Comparison of Non-mover households and Mover households by age groups</h4>
<canvas id="non_mover_mover_stacked_age_groups_canvas"></canvas>


<div class="row canvases">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h4 class="color-grey">Detail of Mover households in total</h4>
    <canvas id="detail_mover_compare_canvas"></canvas>
  </div>
  <div class="col-md-3"></div>
</div>


<h4 class="color-grey">Detail of Mover households by age groups</h4>
<canvas id="detail_mover_stacked_age_groups_canvas"></canvas>


<script>
$(document).ready(function() {

  var household_mobility_status_data = JSON.parse( $("#household_mobility_status_data").val() );
  var age_groups = household_mobility_status_data['age groups'];


  // Total - Household mobility status 5 years ago
  new Chart($("#total_household_mobility_status_canvas"), {
    type: "bar",
    data: {
      labels: age_groups,
      datasets: [{
        label: "Household mobility status",
        data: household_mobility_status_data['total household mobility']['data'],
        backgroundColor: colours[0]['rgba']['opacity-0.9']
      }]
    },
    options: vertical_option("Households (1M=1,000,000)", 1000000, "M")
  });

  // Comparison of Non-mover households and  households in total
  new Chart($("#non_mover_mover_compare_canvas"), {
    type: "pie",
    data: {
      labels: ["Non-mover", "Mover"],
      datasets: [{
        data: [
          household_mobility_status_data['non-mover households']['total'], 
          household_mobility_status_data['mover households']['total']
        ],
        backgroundColor: [
          colours[0]['rgba']['opacity-0.9'],
          colours[1]['rgba']['opacity-0.9']
        ]
      }]
    },
    options: pie_option()
  });


  // Comparison of Non-mover households and Mover households by age groups 
  new Chart($("#non_mover_mover_stacked_age_groups_canvas"), {
    type: "bar",
    data: {
      labels: age_groups,
      datasets: [
        {
          type: "bar",
          label: "Non-mover households",
          data: household_mobility_status_data['non-mover households']['data'],
          backgroundColor: colours[0]['rgba']['opacity-0.9']
        },
        {
          "type": "bar",
          label: "Mover households",
          data: household_mobility_status_data['mover households']['data'],
          backgroundColor: colours[1]['rgba']['opacity-0.9']
        },
        {
          "type": "line",
          label: "Total Household mobility",
          data: household_mobility_status_data['total household mobility']['data'],
          backgroundColor: colours[colours.length-1]['rgba']['opacity-0.9'],
          borderColor: colours[colours.length-1]['rgba']['opacity-1'],
          borderWidth: 3,
          borderJoinStyle: 'round',
          lineTension: 0.1,
          fill: false
        }
      ]
    },
    options: vertical_stacked_bar_option("Households (1M=1,000,000)", 1000000, "M")
  });



  // Detail of Mover households in total
  new Chart($("#detail_mover_compare_canvas"), {
    type: "pie",
    data: {
      labels: ["Non-mover", "Mover"],
      datasets: [{
        data: [
          household_mobility_status_data['within the same census subdivision']['total'], 
          household_mobility_status_data['not within the same census subdivision']['total']
        ],
        backgroundColor: [
          colours[0]['rgba']['opacity-0.9'],
          colours[1]['rgba']['opacity-0.9']
        ]
      }]
    },
    options: pie_option()
  });

  // Detail of Mover households by age groups
  new Chart($("#detail_mover_stacked_age_groups_canvas"), {
    type: "bar",
    data: {
      labels: age_groups,
      datasets: [
        {
          type: "bar",
          label: "Within the same census subdivision",
          data: household_mobility_status_data['within the same census subdivision']['data'],
          backgroundColor: colours[0]['rgba']['opacity-0.9']
        },
        {
          "type": "bar",
          label: "Not within the same census subdivision",
          data: household_mobility_status_data['not within the same census subdivision']['data'],
          backgroundColor: colours[1]['rgba']['opacity-0.9']
        },
        {
          "type": "line",
          label: "Mover households",
          data: household_mobility_status_data['mover households']['data'],
          backgroundColor: colours[colours.length-1]['rgba']['opacity-0.9'],
          borderColor: colours[colours.length-1]['rgba']['opacity-1'],
          borderWidth: 3,
          borderJoinStyle: 'round',
          lineTension: 0.1,
          fill: false
        }
      ]
    },
    options: vertical_stacked_bar_option("Households (1M=1,000,000)", 1000000, "M")
  });



});
</script>